<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Tasklist</title>
    <link rel="stylesheet" href="/lib/bootstrap/dist/css/bootstrap.min.css"/>
    <link rel="stylesheet" href="/lib/bootstrap/dist/css/bootstrap-theme.min.css"/>
    <script type="text/javascript" src="/lib/jquery/dist/jquery.min.js"></script>
</head>
<body>
<header role="banner" class="navbar navbar-static-top bs-docs-nav">
    <div class="container">
        <div class="navbar-header">
            <a class="navbar-brand" th:href="@{/}">TaskList</a>
        </div>
        <ul class="nav navbar-nav navbar-right">
            <li><a th:href="@{/task-list/create}">Create task list</a></li>
        </ul>
    </div>
</header>

<div class="container">
    <div th:if="${_message != null}" th:text="${_message.text}" class="alert" role="alert"
         th:classappend="${_message.type == T(cz.karelstefan.tasklist.domain.Message.Type).ERROR ? 'alert-danger' : 'alert-success'}">Message</div>

    <div layout:fragment="content"></div>
</div>
</body>
</html>