<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<body>
<table>
    <th:block th:fragment="taskRow(id, text)">
        <tr th:attr="data-id=${id}">
            <td th:text="${text}" class="task-text">Text</td>
            <td class="text-right">
                <div class="btn-group" role="group">
                    <button type="button" class="btn btn-success mark-done-task" title="Mark as done">
                        <span class="glyphicon glyphicon-ok"></span>
                    </button>
                    <button type="button" class="btn btn-default edit-task" title="Edit">
                        <span class="glyphicon glyphicon-edit"></span>
                    </button>
                    <button type="button" class="btn btn-danger delete-task" title="Delete task">
                        <span class="glyphicon glyphicon-trash"></span>
                    </button>
                </div>
            </td>
        </tr>
    </th:block>
</table>
</body>
</html>